@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
}
.main .icon {
  width: 80px;
  margin-top: 60px;
}
.main h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 320px;
}
.main input[type="text"] {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #10a37f;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
.main .result {
  font-weight: bold;
  margin-top: 20px;
  white-space: pre-wrap;
  max-width: 100%;
  height: auto;
  padding-bottom: 40px;
}
.tips {
  color: rgba(0, 0, 0, .5);
  font-size: .75rem;
  line-height: 1rem;
  padding-bottom: 0.75rem;
  position: absolute;
  bottom: 20px;
}
.spinner {
  height: 4rem;
  width: 4rem;
  /*Createacurveatthetop*/border: 4px solid #d1d5db;
  border-top-color: #3b82f6;
  border-radius: 50%;
  animation: spinner 800ms linear infinite;
}
.spinning {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background-color: #fff;
}
.spinning span {
  margin-top: 12px;
}
@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.timeline {
  /* Used to position the left vertical line */
  position: relative;
}

.timeline__line {
  /* Border */
  border-right: 2px solid #d1d5db;

  /* Positioned at the left */
  left: 0.75rem;
  position: absolute;
  top: 0px;

  /* Take full height */
  height: 100%;
}

.timeline__items {
  /* Reset styles */
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.timeline__item {
  margin-bottom: 8px;
}

.timeline__top {
  /* Center the content horizontally */
  align-items: center;
  display: flex;
}

.timeline__circle {
  /* Rounded border */
  background-color: #d1d5db;
  border-radius: 9999px;

  /* Size */
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}
.timeline__time {
  position: absolute;
  font-size: 12px;
  color: #000000c7;
  left: -5px;
}

.timeline__title {
  /* Take available width */
  flex: 1;
  margin-left: 0.5rem;
}

.timeline__desc {
  /* Make it align with the title */
  margin-left: 2rem;
}

.property_list {
  /* Content is center horizontally */
  align-items: center;
  display: flex;

  border-bottom: 1px solid #d1d5db;

  /* Spacing */
  margin: 0;
  padding: 0.25rem 0;
  min-width: 60vw;
}

.property_list__key {
  /* Take the available width */
  flex: 1;
}

.property_list__value {
  margin-left: 0.5rem;
}
.media_object {
  /* Align sub-items to top */
  align-items: center;
  display: flex;
}

.media_object__media {
  margin-right: 0.5rem;
}

.media_object__content {
  /* Take the remaining width */
  flex: 1;
}
.button {
    --hue: 190deg;
    --sat: 50%;
    --blur: 0px;
    --hue2: calc(var(--hue) + 60deg);
    --sat2: calc(var(--sat) + 10%);
    --clr: hsl(var(--hue) var(--sat) 90%);
    --clr2: hsl(var(--hue2) var(--sat2) 85%);
    --text: hsla(var(--hue), 70%, 10%, .9);
    --gradoffset: 45%;
    --gradgap: 30%;
    font-size: 14px;
    color: var(--text);
    font-weight: 500;
    letter-spacing: -0.025em;
    background-color: var(--clr);
    background-image: linear-gradient(180deg, var(--clr2) var(--gradgap), transparent calc(100% - var(--gradgap)));
    background-repeat: no-repeat;
    background-position: center var(--gradoffset);
    background-size: 100% 200%;
    padding: 0.5em 1.2em;
    border-radius: 2em;
    border: none;
    box-shadow: 0 -0.5em 0.5em transparent, 0 0.5em 0.5em transparent, 0 0.25em 0.3em -0.2em hsla(var(--hue), var(--sat), 50%, 0.46), 0 0.25em 0.75em hsla(var(--hue), calc(var(--sat) - 10%), 40%, 0.3);
    position: relative;
    transition: all 0.5s ease;
    outline: none;
}
.button::before,
.button::after {
  content: "";
  inset: 0;
  position: absolute;
  border-radius: 5em;
}

.button::before {
  background-image:
    radial-gradient(ellipse,
      hsla(var(--hue), 100%, 90%, .8) 20%,
      transparent 50%,
      transparent 200%),
    linear-gradient(90deg,
      hsl(0deg, 0%, 25%) -10%,
      transparent 30%,
      transparent 70%,
      hsl(0deg, 0%, 25%) 110%);
  box-shadow:
    inset 0 .25em .75em hsla(0deg, 0%, 0%, 0.8),
    inset 0 -.05em .2em rgba(255, 255, 255, 0.4),
    inset 0 -1px 3px hsla(var(--hue), 80%, 50%, .75);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: 200% 80%, cover;
  background-position: center 220%;
  mix-blend-mode: overlay;
  filter: blur(calc(var(--blur) * 0.5));
}

.button::after {
  background: linear-gradient(180deg,
      hsla(var(--hue2), 100%, 90%, .9),
      hsla(var(--hue2), calc(var(--sat2)*0.7), 50%, .75) 40%,
      transparent 80%);
  top: 0.075em;
  left: 0.75em;
  right: 0.75em;
  bottom: 1.4em;
  filter: blur(var(--blur));
  mix-blend-mode: screen;
}

.button:hover,
.button:active,
.button:focus {
  outline: none;
  box-shadow:
    0 -0.2em 1em hsla(var(--hue2), 70%, 80%, 0.3),
    0 0.5em 1.5em hsla(var(--hue), 70%, 80%, 0.5),
    0 0.25em 0.3em -0.2em hsl(var(--hue) 90% 70%),
    0 0.25em 0.5em hsla(var(--hue), 20%, 30%, 0.2),
    inset 0 -2px 2px rgba(255, 255, 255, 0.2);
  background-position: center calc(var(--gradoffset) - 0.75em);
}